/* CSS Document DrivelDefence.css*/

body
{
font-family: Verdana, arial, sans-serif;
font-size: 1em;
color: #000000;
margin-top: 1em;
margin-right: 0.3em;
margin-bottom: 1em;
margin-left: 1em;
padding: 0;
background-color: #fff;
}

a:link, a:visited
{
color: #006699;
text-decoration: none;
background-color: inherit
}

a:hover{
color: #ff9900;
background-color: inherit;
text-decoration: underline
}

h1{
font: bold 1.44em arial, sans-serif;
color: #334d55;
margin: 0;
padding: 0;
background-color: inherit
}

h2{
font: bold 1.2em arial,sans-serif;
color: #003366;
background-color: inherit;
padding: 0
}

h3{
font: bold 1.2em arial,sans-serif;
color: #000000;
background-color: inherit;
padding: 0
}

label{
font: normal 0.9em Verdana,sans-serif;
color: #000000;
background-color: inherit
}
				
input, textarea{
font: normal 0.9em Verdana,sans-serif
}

.footer{font-size:0.8em}